Source: sms-orange-pl
Section: net
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5), perl, sed
Standards-Version: 3.7.2
Bugs: mailto:ubanus@users.sf.net

Package: sms-orange-pl
Architecture: all
Depends: kawute (>= 0.8.1)
Recommends: libterm-size-perl, libgraphics-magick-perl
Description: Send SMs via sms.orange.pl gateway
 sms-orange-pl allows you to send SMs via the web-to-SMS gateway at
 <http://sms.orange.pl/>.
