Source: sms-orange-pl
Section: net
Priority: optional
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5), perl
Standards-Version: 3.7.2

Package: sms-orange-pl
Architecture: any
Depends: ${perl:Depends}, ${misc:Depends}, libwww-perl, libhtml-parser-perl, libapache-configfile-perl, konwert
Recommends: libterm-size-perl, libgraphics-magick-perl
Description: Send SMs via sms.orange.pl gateway
