#!/usr/bin/make -f

configure: ;

build: sms.orange.pl.1

sms.orange.pl.1: sms.orange.pl
	dh_testdir
	pod2man -c 'sms-orange-pl manual' $(<) > $(@)

clean:
	dh_testdir
	dh_testroot
	dh_clean $(wildcard *.1)

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_install sms.orange.pl usr/bin
	sed -i -e 's/kawute/Net::kawute/g' debian/sms-orange-pl/usr/bin/*
	dh_installman --language=C $(wildcard *.1)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples $(wildcard *.conf)
	dh_compress
	dh_fixperms
	dh_perl
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
