#!/usr/bin/make -f

configure:
	:

build: sms.orange.pl.1
	:

sms.orange.pl.1: sms.orange.pl
	dh_testdir
	pod2man -c 'sms-orange-pl manual' $(<) > $(@)

clean:
	dh $(@)
	dh_clean $(wildcard *.1)

install: build
	dh $(@) --until dh_prep
	dh_install sms.orange.pl usr/bin
	sed -i -e 's/kawute/Net::kawute/g' debian/sms-orange-pl/usr/bin/*
	dh_installman --language=C $(wildcard *.1)
	dh_installexamples $(wildcard *.conf)
	dh_installdirs usr/share/lintian/overrides/
	echo "sms-orange-pl: script-with-language-extension usr/bin/sms.orange.pl" > debian/sms-orange-pl/usr/share/lintian/overrides/sms-orange-pl
	dh $(@) --remaining

binary-indep: install
	dh $(@)

binary-arch: install
	:

binary: binary-indep binary-arch
	:

.PHONY: build clean binary-indep binary-arch binary install configure

# vim:ts=4 sw=4 noet
